services:

  database:
    image: postgres:18
    environment:
      POSTGRES_DB: upsa
      POSTGRES_USER: system
      POSTGRES_PASSWORD: manager
      PGDATA: /var/lib/postgresql/18/docker
    volumes:
      - vol_database:/var/lib/postgresql
    ports:
      - 5555:5432
    command:
      - -c
      - max_prepared_transactions=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U system -d upsa" ]
      interval: 5s
      timeout: 3s
      retries: 3

  flyway:
    image: flyway/flyway
    environment:
      FLYWAY_USER: system
      FLYWAY_PASSWORD: manager
      FLYWAY_URL: jdbc:postgresql://database:5432/upsa
      FLYWAY_LOCATIONS: >
        filesystem:/flyway/locations/ws-hoteles,
        filesystem:/flyway/locations/ws-clientes,
        filesystem:/flyway/locations/ws-habitaciones,
        filesystem:/flyway/locations/ws-reservas
    volumes:
      - ./ws-hoteles/flyway:/flyway/locations/ws-hoteles
      - ./ws-clientes/flyway:/flyway/locations/ws-clientes
      - ./ws-habitaciones/flyway:/flyway/locations/ws-habitaciones
      - ./ws-reservas/flyway:/flyway/locations/ws-reservas
    command:
      - migrate
    depends_on:
      database:
        condition: service_healthy

  ws-hoteles:
    build:
      context: ./ws-hoteles
      dockerfile: Dockerfile
    environment:
      DATABASE_HOST: database
      DATABASE_PORT: 5432
      DATABASE_NAME: upsa
      DATABASE_USERNAME: system
      DATABASE_PASSWORD: manager
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/q/health/ready" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
    depends_on:
      flyway:
        condition: service_completed_successfully

  ws-clientes:
    build:
      context: ./ws-clientes
      dockerfile: Dockerfile
    environment:
      DATABASE_HOST: database
      DATABASE_PORT: 5432
      DATABASE_NAME: upsa
      DATABASE_USERNAME: system
      DATABASE_PASSWORD: manager
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/q/health/ready" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
    depends_on:
      flyway:
        condition: service_completed_successfully

  ws-habitaciones:
    build:
      context: ./ws-habitaciones
      dockerfile: Dockerfile
    environment:
      DATABASE_HOST: database
      DATABASE_PORT: 5432
      DATABASE_NAME: upsa
      DATABASE_USERNAME: system
      DATABASE_PASSWORD: manager
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/q/health/ready" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
    depends_on:
      flyway:
        condition: service_completed_successfully

  ws-reservas:
    build:
      context: ./ws-reservas
      dockerfile: Dockerfile
    environment:
      DATABASE_HOST: database
      DATABASE_PORT: 5432
      DATABASE_NAME: upsa
      DATABASE_USERNAME: system
      DATABASE_PASSWORD: manager
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/q/health/ready" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
    depends_on:
      flyway:
        condition: service_completed_successfully

  aggregator:
    build:
      context: ./aggregator
      dockerfile: Dockerfile
    environment:
      SERVICE_HOTELES_URL: http://ws-hoteles:8080
      SERVICE_HABITACIONES_URL: http://ws-habitaciones:8080
    depends_on:
      flyway:
        condition: service_completed_successfully
      ws-hoteles:
         condition: service_healthy
      ws-habitaciones:
         condition: service_healthy

  nginx:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    depends_on:
      - ws-clientes
      - ws-habitaciones
      - ws-hoteles
      - ws-reservas
      - aggregator

volumes:
  vol_database: {}
