services:

  database:
    image: postgres:18
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: system
      POSTGRES_PASSWORD: manager
      PGDATA: /var/lib/postgresql/18/docker
    volumes:
      - vol_database:/var/lib/postgresql
    ports:
      - 5555:5432
    command:
      - -c
      - max_prepared_transactions=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U system -d postgres" ]
      interval: 5s
      timeout: 3s
      retries: 3


  flyway:
    image: flyway/flyway
    environment:
      FLYWAY_USER: system
      FLYWAY_PASSWORD: manager
      FLYWAY_URL: jdbc:postgresql://database:5432/postgres
      FLYWAY_LOCATIONS: filesystem:/flyway/locations/ws-hoteles
    volumes:
      - ./ws-hoteles/flyway:/flyway/locations/ws-hoteles
    command:
      - migrate
    depends_on:
      database:
        condition: service_healthy

volumes:
  vol_database: {}

